* {
   padding: 0;
   box-sizing: border-box;
   margin: 0;
}

body {
   background-image: linear-gradient(rgb(217, 0, 0), rgb(238, 255, 0));
   background-repeat: no-repeat;
   background-attachment: fixed;
}

.main {
   display: flex;
   flex-direction: column;
   align-items: center;
}

img {
   border: 2px solid black;
   box-shadow: 3px 5px 4px;
}

h1 {
   font-size: 45px;
   font-family: 'Times New Roman', Times, serif;
   margin-bottom: 15px;

}

button {
   margin: 30px;
   padding: 20px;
   border-radius: 20px;
   color: black;
   background: red;
   box-shadow: 0px 0px 40px;
   font-size: 20px;
   border: 1px solid black;

}