body {
    font-family: Arial;
}

p {
    font-size: 1em;
}

.eye {
    background-color: lightblue;
    width: 30%;
    height: 30%;
    border-radius: 50%;
}

.arm {
    background-color: red;
    position: absolute;
    top: 35%;
    width: 5%;
    height: 40%;
}

#head {
    width: 30%;
    height: 30%;
    border-radius: 15%;
    background-color: rgb(100, 8, 238);
    position: absolute;
    left: 33%;
    top: 5%;
}

#righteye {
    position: absolute;
    left: 20%;
    top: 20%;
}

#lefteye {
    position: absolute;
    left: 60%;
    top: 20%;
}

#nose {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 10%;
    height: 10%;
    background-color: green;

}

#mouth {
    position: absolute;
    width: 65%;
    height: 15%;
    left: 20%;
    top: 70%;
    background-color: red;
}

#body {
    position: absolute;
    left: 25%;
    top: 35%;
    width: 45%;
    height: 55%;
    background-color: #dadada;
    text-align: center;
    padding-top: 30px;
    border: 3px solid black;
}

#rightarm {
    position: absolute;
    left: 21%;
}

#leftarm {
    position: absolute;
    right: 3%;
    width: 27%;
    height: 4%;
}